In [1]:
import pandas as pd
import numpy as np

### content ID, category, content type, reaction type, and reaction score.
these are the columns we will be needing for our analysis.

In [49]:
content=pd.read_csv('DataSets\content.csv')

In [51]:
content.drop('Unnamed: 0', axis=1, inplace=True)

In [52]:
content.head()

,Content ID,User ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [9]:
content.shape

(1000, 5)

In [10]:
content.isnull().sum()    ## URL is not needed so we can drop the column URL

Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [11]:
content.drop('URL', axis=1, inplace=True)

(1000, 4)

In [30]:
content.drop('User ID', axis=1, inplace=True)
content.shape

(1000, 3)

In [12]:
content['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [13]:
# Strip any extra quotes from the category values
content['Category'] = content['Category'].str.replace(r'^"|"$', '', regex=True)

# Check unique values again
print(content['Category'].unique())

['Studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'studying' 'veganism' 'Animals' 'animals' 'culture' 'Fitness' 'Veganism'
 'Travel' 'Education' 'Technology' 'Soccer' 'Culture' 'Food'
 'Healthy Eating' 'Science' 'Public Speaking']

In [25]:
content['Category'] = content['Category'].str.upper()

In [26]:
print(content['Category'].unique())

['STUDYING' 'HEALTHY EATING' 'TECHNOLOGY' 'FOOD' 'COOKING' 'DOGS' 'SOCCER'
 'PUBLIC SPEAKING' 'SCIENCE' 'TENNIS' 'TRAVEL' 'FITNESS' 'EDUCATION'
 'VEGANISM' 'ANIMALS' 'CULTURE']

In [28]:
content.rename(columns={'Type':'ContentType'}, inplace=True)

In [31]:
content.head()

                             Content ID ContentType        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2       photo        STUDYING
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810       photo  HEALTHY EATING
2  230c4e4d-70c3-461d-b42c-ec09396efb3f       photo  HEALTHY EATING
3  356fff80-da4d-4785-9f43-bc1261031dc6       photo      TECHNOLOGY
4  01ab84dd-6364-4236-abbb-3f237db77180       video            FOOD

In [32]:
Reactions=pd.read_csv('Reactions.csv')
Reactions.drop('Unnamed: 0', axis=1, inplace=True)

In [33]:
Reactions.head()

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [35]:
## we do not want USER ID column
Reactions.drop('User ID', axis=1, inplace=True)

In [36]:
Reactions.shape

(25553, 3)

In [37]:
Reactions.isnull().sum()

Content ID      0
Type          980
Datetime        0
dtype: int64

In [38]:
Reactions.dropna(inplace=True)
Reactions.shape

(24573, 3)

In [39]:
Reactions.head()

                             Content ID        Type             Datetime
1  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike  2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2      scared  2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2021-01-06 19:13:01
5  97522e57-d9ab-4bd6-97bf-c24d952602d2  interested  2020-08-23 12:25:58

In [7]:
ReactionTypes=pd.read_csv('ReactionTypes.csv')
ReactionTypes.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
ReactionTypes.head()

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

In [17]:
ReactionTypes.shape

(16, 3)

In [18]:
ReactionTypes.isnull().sum()

Type         0
Sentiment    0
Score        0
dtype: int64

In [44]:
content.to_csv('Content_cleaned.csv')

In [45]:
ReactionTypes.to_csv('ReactionTypes_cleaned.csv')

In [46]:
Reactions.to_csv('Reactions_cleaned.csv')