In [1]:
import pandas as pd

# Load datasets
content = pd.read_csv("Cleaned_Datasets/Content_cleaned.csv")
reactions = pd.read_csv("Cleaned_Datasets/Reactions_cleaned.csv")
reaction_types = pd.read_csv("Cleaned_Datasets/ReactionTypes_cleaned.csv")

In [2]:
# Merge reactions with content
merged_data = reactions.merge(content, on="Content ID", how="left")

# Merge the result with reaction_types
final_data = merged_data.merge(reaction_types, on="Type", how="left")

In [3]:
# Group by Category and sum up scores
category_scores = final_data.groupby("Category")["Score"].sum().reset_index()

In [4]:
# Sort categories by scores
top_categories = category_scores.sort_values(by="Score", ascending=False)

In [13]:
# Get the top 5 categories
top_5_categories = top_categories.head(5)
top_5_categories

          Category  Score
0          ANIMALS  74965
9          SCIENCE  71168
7   HEALTHY EATING  69339
12      TECHNOLOGY  68738
6             FOOD  66676

In [9]:
# Get the list of top 5 category names
top_5_category_names = top_5_categories["Category"].tolist()

# Add a flag for top 5 categories
final_data["Is_Top_5_Category"] = final_data["Category"].isin(top_5_category_names)

final_data.head(2)

,Unnamed: 0_x,Content ID,Type,Datetime,Unnamed: 0_y,ContentType,Category,Unnamed: 0,Sentiment,Score,Is_Top_5_Category
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,0,photo,STUDYING,2,negative,0,False
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,0,photo,STUDYING,11,negative,10,False

In [11]:
final_data.drop(["Unnamed: 0_x","Unnamed: 0_y","Unnamed: 0"], axis=1, inplace=True)
final_data.head(2)

,Content ID,Type,Datetime,ContentType,Category,Sentiment,Score,Is_Top_5_Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,STUDYING,negative,0,False
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,STUDYING,negative,10,False

In [12]:
with pd.ExcelWriter("Final_Dataset_with_Top_5_Categories.xlsx") as writer:
    final_data.to_excel(writer, sheet_name="Cleaned Dataset", index=False)
    top_5_categories.to_excel(writer, sheet_name="Top 5 Categories", index=False)

In [21]:
final_dataset = pd.read_excel("Cleaned_Datasets/Final_Dataset_with_Top_5_Categories.xlsx")

In [19]:
final_dataset = final_dataset.to_csv("final_dataset.csv")

In [24]:
final_dataset = pd.read_csv("final_dataset.csv")

In [26]:
final_dataset.drop("Unnamed: 0", axis=1, inplace=True)

In [27]:
final_dataset.head()

,Content ID,Type,Datetime,ContentType,Category,Sentiment,Score,Is_Top_5_Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,STUDYING,negative,0,False
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,STUDYING,negative,10,False
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,STUDYING,negative,15,False
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,STUDYING,negative,0,False
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,STUDYING,positive,30,False

In [39]:
final_dataset.shape

(24573, 8)

In [38]:
final_dataset['Content ID'].nunique()

962